@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CourseFronted</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrador,Instructor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Cursos">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cursos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Examenes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Examenes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="PreguntasEvaluacion">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Preguntas
                </NavLink>
            </div>

        </AuthorizeView>

        <AuthorizeView role="Instructor,Estudiante">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Respuestas">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Respuestas
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Usuarios">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView role="Administrador,Estudiante">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Inscripciones">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inscripciones
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
