@page "/"
@layout LoginLayout
@inject IServiciosUsuario ServiciosUsuario
@inject HttpClient httpClient
@using CourseFronted.Extensiones;
@using EntitiesControllers.Entidades;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AutenticacionProvider
@inject NavigationManager NavigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title>LoginUser</title>
    <link rel="stylesheet" href="~/css/app.css" />
    </head>
    <body>
    <div class="row mt-5">

        <div class="col-lg-4 offset-lg-4 border">

            <div class="mb-3 text-center">
                <h3>LOGIN</h3>
            </div>

            <div class="mb-3">
                <label>Correo</label>
                <input @bind="login.Correo" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Contraseña</label>
                <input @bind="login.Clave" class="form-control" />
            </div>

            <div class="mb-3">
                <button @onclick="IniciarSesion" class="btn btn-primary">Login</button>
            </div>

        </div>

    </div>
    
    </body>
    </html>


@code {
    private LoginDTO login { get; set; } = new LoginDTO();

    public async Task IniciarSesion()
    {
        var loginrResponse = await httpClient.PostAsJsonAsync<LoginDTO>("https://localhost:7093/api/User/Login", login);
        if (loginrResponse.IsSuccessStatusCode)
        {
            var sesionUsuario = await loginrResponse.Content.ReadFromJsonAsync<SesionDTO>();
            var AutenticacionExt = (AutenticacionExtension)AutenticacionProvider;
            await AutenticacionExt.ActualizarEstado(sesionUsuario);
            NavigationManager.NavigateTo("/Home");
        }
    }

}
