@page "/Respuestas"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize(Roles = "Instructor,Estudiante")]

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Hola</h1>

</body>
</html>

@code {

}
